extends layout

block content

 h1 #{book.title}

 if instances.length 
  p #[em First you have to delete the following instances]
  div(style='margin-left:20px;margin-top:20px')
  for item in instances
   hr
   p #[strong Imprint:] #{item.imprint}
   p #[strong Status:] #{item.status}
 else
  p #[em Are you sure you want to delete this book from the Library?]
  form(method='POST', action='')
   button.btn.btn-primary(type='Submit') Delete
